* text=auto
*.svg text eol=lf
*.yml text eol=lf
*.py text eol=lf
*.ps1 text eol=crlf
*.ttf binary
*.png binary
*.jpg binary
*.epub binary
*.patch text eol=lf
*.cjs text eol=lf
*.json text eol=lf
/ebook-reader/test-corpus/* binary

*.pdf binary
*.js text eol=lf
